.App {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.profile {
  display: flex;
  justify-content: space-between;
 padding: 20px;
 margin:100px; 
 
  
}
.a {
  text-align: left;
  width: 30%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.photo:hover {
opacity: 0.7;
}